/* 1. Base */
* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 13px clamp(1px, 1.5vw, 15px) 0;
  overflow: hidden;
}

@media (max-width: 400px) {
  body {
    margin-left: 3px;
    margin-right: 3px;
  }
}

html, button, 
.sidebar, .trashOverlay, .settingsOverlay,
.translateOverlay, .changelogOverlay, .changelogVersion,
.infoOverlay {
  transition: 0.25s ease;
}

.dark {
  color: white;
  background: #202020;
}

button {
  margin-left: 5px;
  padding: 0 4px;
  font-size: 14px;

  color: black;
  background: #ebebeb;
  border: #bdbdbd 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.dark button {
  color: white;
  background: #333;
  border-color: #555;
}

#noteTitle {
  margin-top: 1.5px;
  margin-bottom: 0.40em;
  margin-left: 3px;
  padding: 0;
  border: none;
  background: transparent;

  color: inherit;
  font-size: 1.5em;
  font-weight: bold;
  font-family: inherit;

  transition: 0.25s ease;
}

#noteTitle:focus {
  outline: none;
  box-shadow: 0 0 0 2px #bdbdbd;
  border-radius: 0.35px;
}

.dark #noteTitle:focus {
  box-shadow: 0 0 0 2px #444;
}

.mainContainer {
  display: flex;
  gap: clamp(3px, 0.25vw, 5px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: clamp(200px, 20vw, 250px);
  border-radius: 5px;

  background: #f2f2f2;
  border: #bdbdbd 1px solid;
}

.dark .sidebar {
  background: #333;
  border-color: #444;
}

.sidebar ul {
  overflow-y: auto;
}

ul {
  margin-top: 5px;
  padding-left: 10px;
}

li {
  margin: 0;
  line-height: 1.5em;
  list-style-type: none;
}

li span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.trashWrapper {
  position: relative;
  margin-top: auto;
}

.trashPanelButton {
  margin-left: 3px;
  margin-bottom: 3px;
  width: calc(100% - 6px);
  height: 35px;
  border-radius: 5px;

  color: black;
  background: white;

  text-align: center;
  letter-spacing: 1px;
}

.dark .trashPanelButton {
  color: white;
  background: #191919;
}

.trashOverlay {
  position: absolute;
  display: flex;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  padding: 10px;
  border: #bdbdbd 1px solid;
  border-radius: 3px;

  color: black;
  background: white;
  white-space: nowrap;

  pointer-events: none;
  translate: -50%;
  transform: translateY(-7px);
  opacity: 0;
}

.dark .trashOverlay {
  color: #fff;
  background: #191919;
  border-color: #444;
}

.trashOverlay ul {
  margin: 0;
  padding: 0;
}

.infoWrapper {
  position: relative;
  margin-top: auto;

  white-space: nowrap;
}

.infoOverlay {
  position: fixed;
  top: 0px;
  right: 202px;
  padding: 7px 10px 10px 10px;
  width: 225px;
  overflow-wrap: anywhere;
  max-height: 200px;
  overflow-y: auto;

  background: #f2f2f2;
  border: #bdbdbd 1px solid;
  border-radius: 5px;

  pointer-events: none;
  opacity: 0;
  transform: translateY(-7px);
}

.dark .infoOverlay {
  color: #fff;
  background: #191919;
  border-color: #444;
}

textarea {
  flex: 1;
  font-size: 18px;
  resize: none;
  padding: 5px;

  border: #bdbdbd 1px solid;
  border-radius: 5px;

  transition: 0.25s ease;
}

.dark textarea {
  color: white;
  background: #191919;
  border-color: #444;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #bdbdbd;
}

.dark textarea:focus {
  box-shadow: 0 0 0 1px #444;
}

.composer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.actionButtons {
  position: relative;
  display: flex;
  gap: clamp(3px, 0.25vw, 5px);
}

.actionButton {
  margin-top: 3px;
  margin-left: 0;

  width: clamp(75px, 20vw, 200px);
  height: 40px;
}

.settingsOverlay {
  position: fixed;
  top: 51px;
  right: clamp(1px, 1.5vw, 15px);
  width: 200px;
  padding: 4px;

  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 6px;

  pointer-events: none;
  opacity: 0;
  transform: translateY(-7px);
}

.dark .settingsOverlay {
  background: #333;
  border-color: #444;
}

#charCounter,
#noteTitleInfo {
  margin: 0;
  font-size: 13px;
}

#rights {
  margin-top: 25px;
  text-align: center;
  color:#b8b8b8;
}

.dark #rights {
  color: #5f5f5f;
}

/* 2. Preferences */
.preferenceButton {
  background: none;
  border: none;
  padding: 0;
}

.dark .preferenceButton {
  background: none;
}

.dark .preferenceButton img,
.dark .optionItem img {
  filter: invert(1);
  transition: 0.25s ease;
}

#settingsButton {
  position: fixed;
  top: 15px;
  right: 15px;
}

.settingsOverlay .optionItem {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  margin: 0;
  padding: 6px 7px;

  color: inherit;
  background: transparent;
  border: none;
  border-radius: 5px;

  font-family: inherit;
  text-align: left;

  cursor: pointer;
  user-select: none;

  transition: background-color 0.15s ease;
}

.settingsOverlay .optionItem:hover {
  background-color: #0000000f;
}

.dark .settingsOverlay .optionItem:hover {
  background-color: #ffffff15;
}

.settingsOverlay .optionItem > img {
  width: 16px;
  height: 16px;

  opacity: 0.75;
  transition: .25s ease;
}

.settingsOverlay .optionItem:hover > img {
  opacity: 1;
}

.settingsOverlay .optionItem:active {
  background-color: #0000001a;
}

.dark .settingsOverlay .optionItem:active {
  background-color: #ffffff25;
}

.translateOverlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 200px;
  padding: 10px 15px 15px 10px;

  background: #f2f2f2;
  border: #bdbdbd 1px solid;
  border-radius: 5px;

  pointer-events: none;
  opacity: 0;
  transform: translateY(-7px);
}

.dark .translateOverlay {
  background: #191919;
  border-color: #444;
}

.languageOption {
  display: flex;
}

.changelogOverlay {
  position: fixed;
  top: 0px;
  right: 200px;
  padding: 0 10px;
  width: 285px;
  max-height: 200px;
  overflow-y: auto;

  background: #f2f2f2;
  border: #bdbdbd 1px solid;
  border-radius: 5px;

  pointer-events: none;
  opacity: 0;
  transform: translateY(-7px);
}

@media (max-width: 503px) {
  .changelogOverlay {
    top: 115px;
    right: -3px;
  }
}

.changelogLegend,
.translateLegend,
.infoLegend {
  font-size: 15px;
}

.dark .changelogOverlay {
  background: #191919;
  border-color: #444;
}

.changelogOverlay .changelogVersion:first-of-type {
  margin-top: 5px;
}

.changelogVersion {
  font-size: 9px;
  font-weight: bold;
  color: #999;
  margin-bottom: 2px;
}

.dark .changelogVersion {
  color: #555;
}

.changelogDate {
  font-weight: bold;
  margin: 0;
}

.changelog {
  padding: 0;
  margin: 2px 0;
}

.changelog li {
  line-height: 1.15;
  margin-bottom: 3.5px;
}

.changelog li::before {
  content: "•";
  font-size: 16px;
  margin-right: 3px;
}

/* 3. Notifications */
.toast {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  border-radius: 6.5px;

  color: black;
  background: #0000001a;
  border: 1px solid #0000001a;
}

.dark .toast {
  color: white;
  background: #ffffff25;
  border: 1px solid #ffffff25;
}

.toast.show {
  opacity: 1;
}

/* 4. Utilities */
.active {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}